<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUMIRA | PAINEL</title>
    <link rel="stylesheet" href="../../resources/css/home.css">
</head>
<body>
    <!-- HEADER -->
    <header id="header" class="header-panel">

        <ul>
            <li><a href="#home" onclick="toggle()"><ion-icon name="home-outline"></ion-icon> Home</a></li>
            <li><a href="#devices" onclick="toggle()"><ion-icon name="bulb-outline"></ion-icon> Dispositivos</a></li>
            <li><a href="/logout" onclick="toggle()"><ion-icon name="exit-outline"></ion-icon> Sair</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>